<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="row">
				<div class="col-xs-12 topheader"><span class="glyphicon glyphicon-map-marker"></span> Nearby</div>
			</div>
		</nav>
		<div class="alert alert-warning" role="alert" ng-show="!buses.length">
      <strong>Oh snap!</strong> No results found, Change to another search please...!
    </div>
		<div class="row bottom-border"  ng-repeat="item in buses">

		<a href="#/details/{{item.bus_id}}">
			<div class="col-xs-3" style="text-align:center;">
				<h1 class="root">{{item.root_id}}</h1>
				<p >in {{item.travel_time}} mins</p>
			</div>
			<div class="col-xs-7 detail-block">
				<h6>{{item.from_city}} to {{item.to_city}}</h6>
				<p ><span class="glyphicon glyphicon-forward"></span> Heading to {{item.Heading}} </p>
				<div class="row">
					<div class="col-xs-5">
						<p >Now <span class="label label-success">{{item.last_stop}}</span></p>
					</div>
					<div class="col-xs-7">
					<!--	<p style="font-size:10px;">Get Board &nbsp;<span class="label label-info">{{item.arrivalstop}}</span></p>-->
					</div>					
				</div>
			</div>
			<div class="col-xs-1 sidearrow" >
				<span class="glyphicon glyphicon-chevron-right"></span>
			</div>
			</a>
		</div>
		
	</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  	<div class="row">
        <a href="#/logo">
            <div class="col-xs-3 center right-border blue ash active">
            	<h4 ><span class="glyphicon glyphicon-map-marker"></span></h4><h5 > NearBy</h5>
            </div>
        </a>
        <a href="#/map">
            <div class="col-xs-3 center right-border blue ash"> 
            	<h4 ><span class="glyphicon glyphicon-globe"></span></h4> <h5>Map</h5>
            </div>
        </a>
        <a href="#/routes">
            <div class="col-xs-3 center right-border blue ash"> 
            	<h4 ><span class="glyphicon glyphicon-random"></span></h4><h5> Routes</h5>
            </div>
        </a>
        <a href="#/settings">
            <div class="col-xs-3 center blue ash"> 
            	<h4 ><span class="glyphicon glyphicon-asterisk"></span></h4> <h5>Settings</h5>
            </div>  
        </a>
    </div>
</nav>