<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="row">
				<div class="col-xs-12 topheader"><span class="glyphicon glyphicon-asterisk"></span>&nbsp; Settings</div>
			</div>
		</nav>
		<div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This page is coming soon, but it's not super important.
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  	<div class="row">
        <a href="#/logo">
            <div class="col-xs-3 center right-border blue ash">
            	<h4 ><span class="glyphicon glyphicon-map-marker"></span></h4><h5 > NearBy</h5>
            </div>
        </a>
        <a href="#/map">
            <div class="col-xs-3 center right-border blue ash"> 
            	<h4 ><span class="glyphicon glyphicon-globe"></span></h4> <h5>Map</h5>
            </div>
        </a>
        <a href="#/routes">
            <div class="col-xs-3 center right-border blue ash "> 
            	<h4 ><span class="glyphicon glyphicon-random"></span></h4><h5> Routes</h5>
            </div>
        </a>
        <a href="#/settings">
            <div class="col-xs-3 center blue ash active"> 
            	<h4 ><span class="glyphicon glyphicon-asterisk"></span></h4> <h5>Settings</h5>
            </div>  
        </a>
    </div>
</nav>