<section class="details-container">
<div class="container" ng-model="buses">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="row">
					<div class="col-xs-12 topheader"><span class="glyphicon glyphicon-road"></span> Details</div>
				</div>
			</nav>
			<div class="row">
				<div class="col-xs-12" style="text-align:center;">
					<h1 class="root">{{buses[whichItem].root}} Bus</h1>
					<h3>in </h3>
					<h1>{{buses[whichItem].arrivaltime}} mins</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h3>Get on Board &nbsp;<span class="label label-info">{{buses[whichItem].arrivalstop}}</span></h3>
				</div>					
			</div>
			<div class="row">
				<div class="col-xs-12 detail-block">
					<div class="row">
						<div class="col-xs-12">
							<h4>{{buses[whichItem].fromlocation}} to {{buses[whichItem].tolocation}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p ><span class="glyphicon glyphicon-forward"></span> Heading to {{buses[whichItem].tolocation}} </p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3>Now &nbsp; <span class="label label-success">{{buses[whichItem].laststop}}</span></h3>
						</div>
					</div>
				</div>
			</div>
	</div>
</section>